* {
	color: #e8e6e3;
}

body {
	margin-left: 22em;
	margin-right: 22em;
	margin-top: 4em;
	background-color: #181a1b;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-family: 'Cabin', sans-serif;
}

#main {
	background-color: #1e2021;
	padding: 2em;
	border-radius: 2em;
}